body
{
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

/* ************************* Header *************************** */

header #menu
{
    width: auto;
    background-color: white;
    padding: 4px 16px;
    /* border: 1px solid black; */
    margin: 0px;
    /* position: fixed; */ /* prueba en lo que resuelvo que las imagenes no se vean por arriba */
}

header .list_container 
{
    display: flex;
    cursor: pointer;
    list-style: none;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

header .list_container li
{
    margin-right: 25px;
}

/* Section for the printerest icon  */ 
header .icon .printerest_icon 
{
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Section for the notification icon */ 
header .notification .notification_icon
{
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Section for the messege icon */ 
header .message .message_icon
{
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Section for the profile icon */ 
header .profile .profile_icon
{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Section for the botton HOME*/
header .home button 
{
    border-radius: 24px;
    color: white;
    background-color: #111111;
    padding: 0px 16px;
    cursor: pointer;
    height: 48px;
}

/* Section for the botton HOME*/
header .home button .home_container 
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    text-align: center;
    text-size-adjust: 100%;
    font-weight: 700px;
    display: block;
}

/* Section for the search */ 
header .main_search .search_container
{
    border: 1px solid black;
    background-color: #cfcfcf/* efefef */;
    display: flex;
    border-radius: 24px;
    height: 48px;
    justify-content: center;
    align-items: center;
}

header .main_search .icon_search .search
{
    width: 15px;
    margin: 0px 15px;
}

input
{
    width: 950px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 24px;
    background-color: #cfcfcf;
}

/* ************************* Main ***************************** */

main
{
    margin-top: 15px;
}

#gallery_container
{
    display: grid;
    grid-template-columns: repeat(5, 290px);
    grid-auto-rows: 200px;
    justify-content: center;
    grid-gap: 10px;
}

.gallery_items
{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

.gallery_items
{
    display: grid;
    grid-row-start: span 2;
}

.gallery_items_2
{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

.link_imagen
{
    /* border: 2px solid violet; */
    width: 100%;
    height: 100%;
}

.gallery_imagen
{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Con esta funcion impedimos que la imagen se distorcione  */
    border-radius: 24px;
}


/* ************************* Footrt *************************** */

/* Section for the plus icon */ 
footer .plus_icon
{
    background-color: rgba(255, 255, 255, 0.7);
    height: 56px;
    width: 56px;
    border-radius: 50%;
    position: fixed; 
    right: 26px;
    bottom: 90px;
}

footer .plus_icon .plus_imagen
{
    /* border: 1px solid black; */
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .plus_icon .plus_imagen .plus
{
    width: 30px;
}

/* Section for the question icon */ 
footer .question_icon
{
    background-color: rgba(255, 255, 255, 0.7);
    height: 56px;
    width: 56px;
    border-radius: 50%;
    position: fixed; 
    right: 26px;
    bottom: 25px;
}

footer .question_icon .question_imagen
{
    /* border: 1px solid black; */
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .question_icon .question_imagen .question
{
    width: 30px;
}